In [1]:
import pandas as pd
# panel datas 약자
import numpy as np
import seaborn as sns

In [2]:
# dictionary(key, value) -> series

In [3]:
dict_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dict_data)

In [4]:
print(type(dict_data))
print(type(sr))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [5]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [6]:
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_lis = pd.Series(list_data)

In [8]:
print(sr_lis)     # index is created. 0, 1, ..., 4

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [9]:
idx = sr_lis.index
val = sr_lis.values

In [10]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [11]:
print(val)

['2018-01-01' 3.14 'abc' 100 True]

In [12]:
print(type(val))

<class 'numpy.ndarray'>

In [13]:
tup_data = ('영인', '2010-05-01', '여', True)

In [14]:
sr_tup = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])

In [15]:
print(sr_tup)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [16]:
# 원소를 1개 선택하는 2가지 방식
print(sr_tup[0])  # sr의 첫번째 원소를 선택(정수형위치 인덱스 활용)
print(sr_tup['이름'])  # '이름'라벨을 가진 원소를 선택(인덱스 이름을 활용)

영인
영인

In [17]:
# 여러개 원소 선택하는 2가지 방식
print(sr_tup[[1, 2]])
print(sr_tup[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

# 시리즈 생성 실습

In [18]:
# 9904312, 3448737, 2890451, 2466052
# 서울     부산      인천     대구

# 1. 시리즈 만들기
# 2. 인덱싱 부산 2가지 방식
# 3. 부산과 대구 인덱싱 2가지 방식

In [19]:
dict_city = {'서울':9904312, '부산':3448737, '인천':2890451, '대구':2466052}
sr = pd.Series(dict_city)
print(sr)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [20]:
sr[1]

3448737

In [21]:
print(type(sr))

<class 'pandas.core.series.Series'>

In [22]:
sr['부산']

3448737

In [23]:
sr[[1,3]]

부산    3448737
대구    2466052
dtype: int64

In [24]:
sr[['부산','대구']]

부산    3448737
대구    2466052
dtype: int64

In [25]:
for key, value in sr.items():
  print(f'key는 {key}이고 value는 {value}다')

key는 서울이고 value는 9904312다
key는 부산이고 value는 3448737다
key는 인천이고 value는 2890451다
key는 대구이고 value는 2466052다

In [26]:
print(type(sr))

<class 'pandas.core.series.Series'>

In [27]:
# series --> numpy 1 dimensional array (convert)
#srr = sr.to_numpy()
sr/100000

서울    99.04312
부산    34.48737
인천    28.90451
대구    24.66052
dtype: float64

In [28]:
# dictionary -> no operation
dict_sr = {'서울':999999, '부산':333333}
dict_sr/1000

TypeError: ignored

In [30]:
sr2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158})
sr = pd.Series([9904312, 3448737,2890451,2466052,], index = ['서울', '부산', '인천', '대구'])
ds = sr - sr2
# 인덱스값이 다른 데이터는 연산이 안됨
# 연산이 안되는 결과는 NaN(Not a Number, 결측치)
print(ds)

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [31]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9904312, 3448737, 2890451, 2466052]))

In [32]:
# count the number of elements
sr.count()

4

In [33]:
ds.count() # NaN는 개수로 치지않는다

3

In [34]:
len(ds)

5

In [35]:
# 값을 세는 method 예시
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.22.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.9/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.9/dist-packages (from seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (8.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.15.0)

In [36]:
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [37]:
# 카테고리형 자료의 종류
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [38]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [39]:
iris['sepal_length'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [40]:
# 인구데이터의 전체 합과 평균
sr.sum(), sr.mean()

(18709552, 4677388.0)

In [41]:
# 정렬메소드
sr.sort_values(ascending=False) # default: ascending = True

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

# DataFrame

In [42]:
# dictionary : column = key, list = value
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [43]:
# 리스트에 행인덱스 열이름을 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '신촌중'],[17, '여', '연세중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])
print(df)
print(df.index)     # 인덱스 이름
print(df.columns)   # 열이름

    나이 성별   학교
준서  15  남  신촌중
예은  17  여  연세중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [44]:
df.columns = ['연령', '남여', '소속']

In [45]:
df

    연령 남여   소속
준서  15  남  신촌중
예은  17  여  연세중

In [46]:
df.index = ['학생1', '학생2']
df

     연령 남여   소속
학생1  15  남  신촌중
학생2  17  여  연세중

In [47]:
df.rename(columns = {'나이':'연령', '성별':'남여', 
                     '학교':'소속'}, inplace = True)
df

     연령 남여   소속
학생1  15  남  신촌중
학생2  17  여  연세중

In [48]:
df.rename(index = {'준서':'학생1', '예은':'학생2'}, inplace = True)
df

     연령 남여   소속
학생1  15  남  신촌중
학생2  17  여  연세중

In [49]:
data = {'국어': [80, 90, 70, 30], '영어':[90, 70, 60, 40], '수학':[90, 60, 80, 70]}
# 춘향, 몽룡, 향단, 방자
name = ['춘향', '몽룡', '향단', '방자']

In [50]:
df2 = pd.DataFrame(data, index = name)
df2

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [51]:
# 몽룡의 국어점수
df2.iloc[1, 0]

90

In [52]:
df2.iloc[:2,1:3]

    영어  수학
춘향  90  90
몽룡  70  60

In [53]:
#solution
df2['국어']['몽룡'] # column first and then row

90

In [54]:
# numpy random.randint -> make 12 random numbers between 60 and 100
# reshape -> index가 James, maria, brian, alice를 만들고
# column = kor, eng, math

In [55]:
num = np.random.randint(60, 100, 12)
num

array([68, 96, 85, 79, 73, 89, 63, 87, 69, 77, 71, 79])

In [56]:
num2 = num.reshape(4, 3)

In [57]:
name = ['james', 'maria', 'brian', 'alice']
subject = ['kor', 'eng', 'math']
df3 = pd.DataFrame(num2, index = name, columns = subject)
df3

       kor  eng  math
james   68   96    85
maria   79   73    89
brian   63   87    69
alice   77   71    79

In [58]:
%%writefile sample.csv
c1, c2, c3
1, 1.15, one
2, 2.23, two
3, 3.32, three

Writing sample.csv

In [59]:
df = pd.read_csv("sample.csv")
df

   c1    c2      c3
0   1  1.15     one
1   2  2.23     two
2   3  3.32   three

In [60]:
#df = pd.read_csv('c:/test/data/sample.csv')
df2 = df[:]

In [62]:
df2.drop(1, inplace = True)
df2

<ipython-input-62-6841a00cf4b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(1, inplace = True)

   c1    c2      c3
0   1  1.15     one
2   3  3.32   three

In [63]:
df3.drop('brian', inplace = True)
df3

       kor  eng  math
james   68   96    85
maria   79   73    89
alice   77   71    79

In [64]:
df3.drop(['james', 'alice'], axis = 0,  inplace = True)
df3

       kor  eng  math
maria   79   73    89

In [65]:
num = np.random.randint(60, 100, 16)
num
num2 = num.reshape(4, 4)
name = ['james', 'maria', 'brian', 'alice']
subject = ['kor', 'eng', 'math', 'music']
df4 = pd.DataFrame(num2, index = name, columns = subject)
df4

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [66]:
df5 = df4.copy()
df5

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [67]:
df5.drop('math', axis = 1, inplace = True)
df5

       kor  eng  music
james   60   94     73
maria   75   85     67
brian   90   87     69
alice   67   94     76

In [68]:
df4

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [69]:
df6 = df4.copy()
df6.drop(['eng','music'],  axis = 1, inplace = True)
df6

       kor  math
james   60    72
maria   75    95
brian   90    98
alice   67    63

In [70]:
df4

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [71]:
# select row
# row index 사용하여 행1개 선택
mar1 = df4.loc['maria'] # location
print(mar1)

kor      75
eng      85
math     95
music    67
Name: maria, dtype: int64

In [72]:
mar2 = df4.iloc[1] # integer location
mar2

kor      75
eng      85
math     95
music    67
Name: maria, dtype: int64

In [73]:
label = df4.loc[['brian', 'alice']]
label

       kor  eng  math  music
brian   90   87    98     69
alice   67   94    63     76

In [74]:
label2 = df4.iloc[2:,:]
label2

       kor  eng  math  music
brian   90   87    98     69
alice   67   94    63     76

In [75]:
label3 = df4.iloc[[2,0]]
label3

       kor  eng  math  music
brian   90   87    98     69
james   60   94    72     73

In [76]:
# 슬라이싱은 [[A:B]] 대신 [A:B]를 사용한다.
label2 = df4.loc[['maria', 'brian']]
label3 = df4.loc['maria':'brian']
print(label2)
print(label3)

       kor  eng  math  music
maria   75   85    95     67
brian   90   87    98     69
       kor  eng  math  music
maria   75   85    95     67
brian   90   87    98     69

In [77]:
label4 = df4.iloc[[1, 2]]
label5 = df4.iloc[1:3,0:2]
print(label4)
print(label5)

       kor  eng  math  music
maria   75   85    95     67
brian   90   87    98     69
       kor  eng
maria   75   85
brian   90   87

In [78]:
math1 = df4['math']
print(type(math1))
print(math1)

<class 'pandas.core.series.Series'>
james    72
maria    95
brian    98
alice    63
Name: math, dtype: int64

In [79]:
# 영어 컬럼 선택
english = df4.eng  # select only one column
print(type(english))
print(english)

<class 'pandas.core.series.Series'>
james    94
maria    85
brian    87
alice    94
Name: eng, dtype: int64

In [80]:
math_music = df4[['math', 'music']]
print(type(math_music))
print(math_music)

<class 'pandas.core.frame.DataFrame'>
       math  music
james    72     73
maria    95     67
brian    98     69
alice    63     76

In [81]:
math2 = df4[['math']]   # two bracket on 'math' -> dataframe, one braket -> DataSeries
print(type(math2))
print(math2)

<class 'pandas.core.frame.DataFrame'>
       math
james    72
maria    95
brian    98
alice    63

In [82]:
# select elements 
df4

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [83]:
# maria's music score
df4.loc['maria', 'music']  # [row, column]

67

In [84]:
df4.iloc[1, 3]

67

In [85]:
df4.loc['maria', ['eng','math']]  # one row, two columns

eng     85
math    95
Name: maria, dtype: int64

In [86]:
df4.iloc[1, 1:3]

eng     85
math    95
Name: maria, dtype: int64

In [87]:
df4.iloc[1, [1,2]]

eng     85
math    95
Name: maria, dtype: int64

In [88]:
df4

       kor  eng  math  music
james   60   94    72     73
maria   75   85    95     67
brian   90   87    98     69
alice   67   94    63     76

In [89]:
# james's  eng, math, music (loc and iloc)

In [90]:
df4.loc['james',['eng','math','music']]

eng      94
math     72
music    73
Name: james, dtype: int64

In [91]:
df4.iloc[0, 1:]

eng      94
math     72
music    73
Name: james, dtype: int64

In [92]:
# maria - alice, eng-music (loc and iloc)

In [93]:
df4.loc[['maria', 'brian', 'alice'], ['eng', 'math', 'music']]

       eng  math  music
maria   85    95     67
brian   87    98     69
alice   94    63     76

In [94]:
df4.loc['maria':'alice', 'eng':'music']

       eng  math  music
maria   85    95     67
brian   87    98     69
alice   94    63     76

In [95]:
df4.iloc[1:, 1:]

       eng  math  music
maria   85    95     67
brian   87    98     69
alice   94    63     76

In [96]:
# add columns
df4['gym'] = 90 # 없으면 생성하고 있으면 수정
df4

       kor  eng  math  music  gym
james   60   94    72     73   90
maria   75   85    95     67   90
brian   90   87    98     69   90
alice   67   94    63     76   90

In [97]:
df4.loc['sdf'] = 0
df4

       kor  eng  math  music  gym
james   60   94    72     73   90
maria   75   85    95     67   90
brian   90   87    98     69   90
alice   67   94    63     76   90
sdf      0    0     0      0    0

In [103]:
df4.iloc[4]

kor      0
eng      0
math     0
music    0
gym      0
Name: sdf, dtype: int64

In [104]:
df4.loc[4] = [90, 70, 60, 75, 60]
df4

       kor  eng  math  music  gym
james   60   94    72     73   90
maria   75   85    95     67   90
brian   90   87    98     69   90
alice   67   94    63     76   90
sdf      0    0     0      0    0
4       90   70    60     75   60

In [105]:
# put in the middle of column
df5 = df4.copy()
df5 = df5.reindex(index=['James', 'maria', 'gildong', 'brian', 'alice'])
df5

          kor   eng  math  music   gym
James     NaN   NaN   NaN    NaN   NaN
maria    75.0  85.0  95.0   67.0  90.0
gildong   NaN   NaN   NaN    NaN   NaN
brian    90.0  87.0  98.0   69.0  90.0
alice    67.0  94.0  63.0   76.0  90.0

In [106]:
# set_index
exam_data = {'이름':['길동', '철수', '영희'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100,90, 90]
             }

In [107]:
df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  길동  90  98   85  100
1  철수  80  89   95   90
2  영희  70  95  100   90

In [108]:
df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
길동  90  98   85  100
철수  80  89   95   90
영희  70  95  100   90

In [109]:
# 길동의 체육점수
df.iloc[0,3]

100

In [110]:
df.iloc[0][3]

100

In [111]:
df.loc['길동', '체육']

100

In [112]:
df.loc['길동']['체육']

100

In [113]:
# 길동의 체육점수 90점으로 수정
df.loc['길동', '체육'] = 90
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89   95  90
영희  70  95  100  90

In [114]:
# 철수의 음악 체육을 50점으로 변경
# 철수의 음악 체육을 100, 50 으로 변경

In [115]:
df.iloc[1, 2:] = 50
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89   50  50
영희  70  95  100  90

In [116]:
df.iloc[1, 2:] = [100, 50]
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89  100  50
영희  70  95  100  90

In [117]:
df.loc['철수', ['음악', '체육']] = 100, 50
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89  100  50
영희  70  95  100  90

In [118]:
# transpose()
df.transpose()

이름  길동   철수   영희
수학  90   80   70
영어  98   89   95
음악  85  100  100
체육  90   50   90

In [119]:
df.T

이름  길동   철수   영희
수학  90   80   70
영어  98   89   95
음악  85  100  100
체육  90   50   90

In [120]:
df

    수학  영어   음악  체육
이름
길동  90  98   85  90
철수  80  89  100  50
영희  70  95  100  90

In [121]:
# set_index
exam_data = {'이름':['길동', '철수', '영희'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100,90, 90]
             }

df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  길동  90  98   85  100
1  철수  80  89   95   90
2  영희  70  95  100   90

In [122]:
ndf = df.set_index('이름')
ndf

    수학  영어   음악   체육
이름
길동  90  98   85  100
철수  80  89   95   90
영희  70  95  100   90

In [123]:
ndf2 = df.set_index('음악')
ndf2

     이름  수학  영어   체육
음악
85   길동  90  98  100
95   철수  80  89   90
100  영희  70  95   90

In [124]:
ndf3 = df.set_index(['수학','음악'])
ndf3

        이름  영어   체육
수학 음악
90 85   길동  98  100
80 95   철수  89   90
70 100  영희  95   90

In [125]:
# reindex
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9],
             'c3':[10,11,12], 'c4':[13,14,15]
             }
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [126]:
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [127]:
# reindex로 발생한 NAN값을 0으로 채우기
ndf2 = df.reindex(new_index, fill_value=0)
ndf2

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [128]:
ndf

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [129]:
# reset_index 
ndf2 = ndf2.reset_index()    # create id

In [130]:
ndf2

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15
3    r3   0   0   0   0   0
4    r4   0   0   0   0   0

In [131]:
# sort index
ndf2 = ndf2.sort_index(ascending=False)
print(ndf2)

  index  c0  c1  c2  c3  c4
4    r4   0   0   0   0   0
3    r3   0   0   0   0   0
2    r2   3   6   9  12  15
1    r1   2   5   8  11  14
0    r0   1   4   7  10  13

In [132]:
# 열을 c1열을 기준으로 내림차순
ndf3 = ndf2.sort_values(by='c1', ascending=False)
ndf3

  index  c0  c1  c2  c3  c4
2    r2   3   6   9  12  15
1    r1   2   5   8  11  14
0    r0   1   4   7  10  13
4    r4   0   0   0   0   0
3    r3   0   0   0   0   0

In [133]:
# 시리즈 숫자계산
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)

국어    100
영어     80
수학     90
dtype: int64

In [134]:
# 과목별로 점수를 200으로 나누기
percentage = student1 / 200
print(percentage)
print(type(percentage))

국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

In [135]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':90})
# 두학생의 과목별 점수 사칙연산
add1 = student1 + student2 # 덧셈
sub = student1 - student2  # 뺄셈
mul = student1 * student2  # 곱셈
div = student1 / student2  # 나눗셈
print(add1, sub, mul, div)

국어    190
수학    170
영어    170
dtype: int64 국어    10
수학    10
영어   -10
dtype: int64 국어    9000
수학    7200
영어    7200
dtype: int64 국어    1.111111
수학    1.125000
영어    0.888889
dtype: float64

In [136]:
# 사칙연산 결과를 데이터프레임으로 합치기 (series, --> 데이터프레임)
result = pd.DataFrame([add1, sub, mul, div], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

              국어        수학           영어
덧셈    190.000000   170.000   170.000000
뺄셈     10.000000    10.000   -10.000000
곱셈   9000.000000  7200.000  7200.000000
나눗셈     1.111111     1.125     0.888889

In [137]:
# 결측치가 있는경우 사칙연산
student3 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student4 = pd.Series({'수학':80, '국어':90, '영어':90})
# 두학생의 과목별 점수 사칙연산
add2 = student3 + student4 # 덧셈
sub2 = student3 - student4  # 뺄셈
mul2 = student3 * student4  # 곱셈
div2 = student3 / student4  # 나눗셈
print(add1, sub, mul, div)

국어    190
수학    170
영어    170
dtype: int64 국어    10
수학    10
영어   -10
dtype: int64 국어    9000
수학    7200
영어    7200
dtype: int64 국어    1.111111
수학    1.125000
영어    0.888889
dtype: float64

In [138]:
result2 = pd.DataFrame([add2, sub2, mul2, div2], index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result2)

     국어        수학           영어
덧셈  NaN   170.000   170.000000
뺄셈  NaN    10.000   -10.000000
곱셈  NaN  7200.000  7200.000000
나눗셈 NaN     1.125     0.888889

In [139]:
# 두학생의 과목별점수 사칙연산(연산메소드 사용)
add3 = student3.add(student4, fill_value=0)
sub3 = student3.sub(student4, fill_value=0)
mul3 = student3.mul(student4, fill_value=0)
div3 = student3.div(student4, fill_value=0)
print(add3, sub3, mul3, div3)

국어     90.0
수학    170.0
영어    170.0
dtype: float64 국어   -90.0
수학    10.0
영어   -10.0
dtype: float64 국어       0.0
수학    7200.0
영어    7200.0
dtype: float64 국어    0.000000
수학    1.125000
영어    0.888889
dtype: float64

In [140]:
# 타이타닉 데이터셋에서
titanic =sns.load_dataset('titanic')
len(titanic)

891

In [141]:
titanic.head() # 첫 5개 행만 출력

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [142]:
df = titanic.loc[:,['age', 'fare']]
df

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [143]:
df2 = titanic[['age', 'fare']]
df2

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [144]:
df.tail()

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

In [145]:
new_df = df + 10
new_df

      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]

In [146]:
# 데이터프레임끼리 연산
new_df - df

      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]