In [3]:
#https://crawlingstudy-dd3c9.web.app/01/
import requests
from bs4 import BeautifulSoup
url = "https://crawlingstudy-dd3c9.web.app/01/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
soup

<!DOCTYPE html>

<html>
<head>
<title>크롤링 연습사이트 01</title>
</head>
<body>
<h1>저의 첫 웹사이트 오신것을 환영합니다.</h1>
<h1 title="welcome">인사이트캠퍼스.</h1>
<h2>이곳은 크롤링 연습을 위한 웹사이트입니다.</h2>
<table border="1">
<thead>
<tr>
<th class="tablehead">이름</th>
<th class="tablehead">나이</th>
</tr>
</thead>
<tbody>
<tr>
<td>이몽룡</td>
<td>34</td>
</tr>
<tr>
<td>홍길동</td>
<td>23</td>
</tr>
</tbody>
</table>
<p id="hello">
    이탈리아 요리의 시작은 기원전 4세기로 거슬러 올라갈 수 있다. 대항해시대를 거치면서 아메리카 대륙에서 감자·토마토·후추·옥수수 등이 유입되어 그 종류와 풍미가 다양해졌고 현대에 이르러서는 피자와 파스타 등 많은 이탈리아 요리가 널리 퍼지게 되었다.
</p>
<p id="cook">
    전통적인 요리법이나 양식은 상당한 차이가 있지만, 이탈리아 요리는 다른 국가의 요리 문화에서 다양한 영감을 줄 만큼 다양하고 혁신적인 것으로 평가되고 있다. 각 지방마다 고유의 특색이 있어 그 양식도 다양하지만 크게 북부와 남부로 나눌 수 있다. 다른 나라와 국경을 맞대고 있던 북부 지방은 산업화되어 경제적으로 풍족하고 농업이 발달해 쌀이 풍부해 유제품이 다양한 반면 경제적으로 침체되었던 남부 지방은 올리브와 토마토, 모차렐라 치즈가 유명하고 특별히 해산물을 활용한 요리가 많다. 식재료와 치즈 등의 차이는 파스타의 종류와 소스와 수프 등도 다름을 의미한다.
</p>
<a href="01.html">1페이지 바로가기</a>
<a href="02.html">2페이지 바로가기</a>
<a href="03.html">3페이지 바로가기</a>
<a href="04.html">4페이지 바로가기</a>
</body>
</html>

In [8]:
soup.select_one('#cook').get_text()

'\n    전통적인 요리법이나 양식은 상당한 차이가 있지만, 이탈리아 요리는 다른 국가의 요리 문화에서 다양한 영감을 줄 만큼 다양하고 혁신적인 것으로 평가되고 있다. 각 지방마다 고유의 특색이 있어 그 양식도 다양하지만 크게 북부와 남부로 나눌 수 있다. 다른 나라와 국경을 맞대고 있던 북부 지방은 산업화되어 경제적으로 풍족하고 농업이 발달해 쌀이 풍부해 유제품이 다양한 반면 경제적으로 침체되었던 남부 지방은 올리브와 토마토, 모차렐라 치즈가 유명하고 특별히 해산물을 활용한 요리가 많다. 식재료와 치즈 등의 차이는 파스타의 종류와 소스와 수프 등도 다름을 의미한다.\n'

In [11]:
table = soup.find('table')
table

<table border="1">
<thead>
<tr>
<th class="tablehead">이름</th>
<th class="tablehead">나이</th>
</tr>
</thead>
<tbody>
<tr>
<td>이몽룡</td>
<td>34</td>
</tr>
<tr>
<td>홍길동</td>
<td>23</td>
</tr>
</tbody>
</table>

In [47]:
first = []
sec1 = []
sec2 = []
for i in x:
    first.append(i.get_text())
first

['이름', '나이']

In [52]:
x = table.find('tr').find_all('th')
x

In [53]:
table.find('tr').find_all('th')[0]

In [54]:
y1 = table.find('tbody').find_all('tr')[0].find_all('td')  #[0].get_text()
print(y1)

[<td>이몽룡</td>, <td>34</td>]

In [48]:
for i in y1:
    sec1.append(i.get_text())
sec1

['이몽룡', '34']

In [50]:
y2 = table.find('tbody').find_all('tr')[1].find_all('td')
y2

In [51]:
for i in y2:
    sec2.append(i.get_text())
sec2

['홍길동', '23']

In [60]:
dictionary1 = dict(zip(first, sec1))
dictionary1

{'이름': '이몽룡', '나이': '34'}

In [61]:
dictionary2 = dict(zip(first, sec2))
dictionary2

{'이름': '홍길동', '나이': '23'}

In [62]:
result =[dictionary1, dictionary2]
result

[{'이름': '이몽룡', '나이': '34'}, {'이름': '홍길동', '나이': '23'}]

In [ ]:
# stocks = ['reliance', 'infosys', 'tcs']
# prices = [2175, 1127, 2750]
# dictionary = dict(zip(stocks, prices))

In [63]:
# solution
key = []
value = []

for element in soup.find('table').find_all('th'):
    key.append(element.text)
    
for element in soup.find('table').find('tbody').find_all('tr'):
    temp = []
    for td_element in element.find_all('td'):
        temp.append(td_element.text)
    value.append(dict(zip(key, temp)))
print(value)

[{'이름': '이몽룡', '나이': '34'}, {'이름': '홍길동', '나이': '23'}]

In [ ]:
# https://crawlingstudy-dd3c9.web.app/03/